*.7z filter=crlf diff=crlf merge=crlf -text
*.arrow filter=crlf diff=crlf merge=crlf -text
*.bin filter=crlf diff=crlf merge=crlf -text
*.bz2 filter=crlf diff=crlf merge=crlf -text
*.ckpt filter=crlf diff=crlf merge=crlf -text
*.ftz filter=crlf diff=crlf merge=crlf -text
*.gz filter=crlf diff=crlf merge=crlf -text
*.h5 filter=crlf diff=crlf merge=crlf -text
*.joblib filter=crlf diff=crlf merge=crlf -text
*.crlf.* filter=crlf diff=crlf merge=crlf -text
*.mlmodel filter=crlf diff=crlf merge=crlf -text
*.model filter=crlf diff=crlf merge=crlf -text
*.msgpack filter=crlf diff=crlf merge=crlf -text
*.npy filter=crlf diff=crlf merge=crlf -text
*.npz filter=crlf diff=crlf merge=crlf -text
*.onnx filter=crlf diff=crlf merge=crlf -text
*.ot filter=crlf diff=crlf merge=crlf -text
*.parquet filter=crlf diff=crlf merge=crlf -text
*.pb filter=crlf diff=crlf merge=crlf -text
*.pickle filter=crlf diff=crlf merge=crlf -text
*.pkl filter=crlf diff=crlf merge=crlf -text
*.pt filter=crlf diff=crlf merge=crlf -text
*.pth filter=crlf diff=crlf merge=crlf -text
*.rar filter=crlf diff=crlf merge=crlf -text
*.safetensors filter=crlf diff=crlf merge=crlf -text
saved_model/**/* filter=crlf diff=crlf merge=crlf -text
*.tar.* filter=crlf diff=crlf merge=crlf -text
*.tar filter=crlf diff=crlf merge=crlf -text
*.tflite filter=crlf diff=crlf merge=crlf -text
*.tgz filter=crlf diff=crlf merge=crlf -text
*.wasm filter=crlf diff=crlf merge=crlf -text
*.xz filter=crlf diff=crlf merge=crlf -text
*.zip filter=crlf diff=crlf merge=crlf -text
*.zst filter=crlf diff=crlf merge=crlf -text
*tfevents* filter=crlf diff=crlf merge=crlf -text
